
<footer class="footer container">
  <div class="footerText">
    <p class="copyRight">© 2022 ALOHA, Inc. All rights reserved.</p>
    <ul class="footerMenu">
      <li> <a href="#"> FAQs</a></li>
      <li> <a href="#"> Terms of use</a></li>
      <li> <a href="#"> Privacy policy</a></li>
    </ul>
  </div>
  <ul class="footerOption">
    <li>
      <div class="icon"><i class="fas fa-globe"></i></div>
      <select class="select">
        <option value="English">English</option>
        <option value="繁體中文">繁體中文</option>
      </select>
    </li>
    <li>
      <div class="icon"><i class="fas fa-dollar-sign"></i></div>
      <select class="select coinType">
        <option value="USD">USD</option>
        <option value="TWD">TWD</option>
      </select>
    </li>
  </ul>
</footer>