
<nav class="navbar container">
  <h1 class="logo"><a href="index.html"></a></h1>
  <ul class="menu">
    <li class="lang"><i class="fas fa-globe"></i>
      <select>
        <option value="English"> English</option>
        <option value="繁體中文"> 繁體中文</option>
      </select>
    </li>
    <li><a href="#">Sign Up</a></li>
    <li><a href="login.html">Log In</a></li>
  </ul>
  <ul class="phoneMenu">
    <li class="phoneIcon"><i class="fas fa-bars"></i></li>
    <li class="phoneLogo"><a href="index.html"> </a></li>
    <li class="phoneLogin"><a href="login.html">Log In</a></li>
  </ul>
  <ul class="phoneDropDown">
    <li><i class="fas fa-globe"></i>
      <select class="phoneSelect">
        <option value="English">English</option>
        <option value="繁體中文"> 繁體中文</option>
      </select>
    </li>
    <li><a href="#">Sign Up</a></li>
  </ul>
</nav>